.container {
  /* margin: 10vh auto; */
  display: grid;
  /* height: 100vh; */
  min-width: 100vw;
}

.end-container {
    display: grid;
  height: 100vh;
  min-width: 100vw;
}

.form {
  margin: 20px;
  min-width: 60vw;

  align-self: center;
  justify-self: center;
}
.form h3 {
  margin-top: 10vh;
  color: #4e598c;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.form h2{
     margin-top: 10vh;
  color: #4e598c;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}

nav h5 {
  color: #bdbdbd;
  font-weight: 700;
  font-size: 2vw;
  line-height: 3vh;
  cursor: pointer;
}
nav h5.page {
  color: #f2994a;
}
.focus {
  width: 170px;
  height: 13px;
  background: #f2994a;
  border-radius: 10px;
  transform: translate(-2px, -6px);

  /* border-bottom: 13px solid  #F2994A; */
}

.focus-1{
    width: 170px;
  height: 13px;
  background: #f2994a;
  border-radius: 10px;
  transform: translate(22vw, -6px);

}

.focus-2{
    width:20vw;
  height: 13px;
  background: #f2994a;
  border-radius: 10px;
  transform: translate(42vw, -6px);

}

nav h5:hover {
  color: #f2994a;
}

input {
  background: #ffffff;
  border: 1px solid #4e598c;
  border-radius: 10px;
  width: 710px;
  height: 64px;
  padding-left: 20px;
  font-size: 20px;
  color: #4f4f4f;
}

section {
  margin: 8vh 0;
}

p {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.info {
  color: #817e9e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.required:after {
  margin-left: 10px;
  content: "*";
  font-weight: bold;
  color: #eb5757;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location input {
  width: 420px;
}

.location select {
  background: #ffffff;
  border: 1px solid #4e598c;
  border-radius: 10px;
  width: 260px;
  height: 64px;
  padding-left: 20px;
  font-size: 20px;
  color: #4f4f4f;
  cursor: pointer;
}

.card-type select{
        background: #ffffff;
  border: 1px solid #4e598c;
  border-radius: 10px;
  width: 710px;
  height: 64px;
  padding-left: 20px;
  font-size: 20px;
  color: #4f4f4f;
  cursor: pointer;
    }

footer {
  width: 65%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10vh 0;
}

footer .next {
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
  border-radius: 10px;
  border: 1px solid #f2c94c;
  border-radius: 10px;
  width: 200px;
  height: 64px;
  /* padding-left: 20px; */
  text-align: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

footer .cancel {
  background: #ffffff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 200px;
  height: 64px;
  padding-left: 20px;
  font-size: 20px;
  color: #4f4f4f;
  cursor: pointer;
}

.card-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 60vw;
}

.card-number{
    width: 300px;
    background: #ffffff;
  border: 1px solid #4e598c;
  border-radius: 10px;
  height: 64px;
  padding-left: 10px;
  /* font-size: 15px; */
  color: #4f4f4f;
}

.expiry{
    width: 100px;
    padding-left: 10px;
}

.cvv{
    width: 100px;
    padding-left: 20px;
}

.modal{
width: 100%;
margin-top: 20px;
}

.end-modal{
    max-width: 70vw;
    margin-top: 20px;
background: #FFFFFF;
box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
border-radius: 10px;
padding: 7vh;
/* text-align: center; */
/* display: flex; */


}


.details{
color: #4F4F4F;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}

.home{
/* text-decoration-line: underline; */
text-decoration: none;
font-weight: 400;
font-size: 20px;
line-height: 30px;
background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
cursor:pointer;
}

.home:hover{
    text-decoration:underline;

}

.icon-container{
    display: grid;
}

.icon {
    /* justify-self: center; */
    /* margin: 0 auto; */
    place-self: center;
}

.vector{
    transform: translate(-60px, -50px);
    z-index: 2;
}
.ellipse{
    transform: translate(20px, 0);
}

.body{
       background: #fff;
    box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
border-radius: 0px 0px 16px 16px;
}
.body .cell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 10%;
    /* margin: 7vh 0; */
    
} 
.body .total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 0;
    /* margin: 7vh 0; */
    
} 


.body div p{
    color: #817e9e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body div p.price {
    font-weight: 800;
}

.head{
display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #2F80ED;
    border: 1px solid #2F80ED;
    border-radius: 16px 16px 0px 0px;
    padding: 0 10%;
}

.head p{
    color: #FFFFFF;
}

.total{
    margin: 2vh auto;
    background: #FFFFFF;
border: 1px solid #817E9E;
border-radius: 5px;
width: 80%;
display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom: 3vh;
    /* justify-self: center; */
}



hr{
    width: 90%;
}

@media only screen and (max-width: 1100px) {


    p{
        font-size: 15px;
        line-height: 20px;
    }

    .form h3{
        font-size: 24px;
        line-height: 30px;
    }
    nav h5 {
        font-size: 3vw;
    }

    .focus{
        width: 22vw;
        height: 8px;
        border-radius: 6px;
    }
  
    .focus-1{
         width: 22vw;
        height: 8px;
        border-radius: 6px;
        transform: translate(28vw, -6px);
    }
    input{
        width: 80vw;
        height: 48px;
        border-radius: 8px;
        font-size: 4vw;
    }

    .location input{
        width: 40vw;
        font-size: 3.5vw;
    }

    .location select{
        width: 25vw;
        height: 48px;
        border-radius: 8px;
        font-size: 3.5vw;
    }
    
    .card-type select{
        width: 40vw;
        height: 48px;
        border-radius: 8px;
        font-size: 3.5vw;
    }

    footer {
  width: 90%;
  /* display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10vh 0; */
}
  
    footer .next{
        width: 150px;
        height: 48px;
        font-size: 15px;
    }


    footer .cancel{
            width: 150px;
        height: 48px;
        font-size: 15px;
        /* min-width: 200px; */
    }

    .card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

.focus-2{
  
  transform: translate(175%, -6px);
  width: 22vw;
        height: 8px;
        border-radius: 6px;

}

}
