@font-face {
  font-family: 'Harmonia-Sans';
  src: url(../fonts/HarmoniaSansProCyr-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Harmonia-Sans';
  src: url(../fonts/HarmoniaSansProCyr-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Harmonia-Sans';
  src: url(../fonts/HarmoniaSansProCyr-Light.ttf) format('truetype');
  font-weight: light;
}

body {
  margin: 0;
  font-family: 'Harmonia-Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
