@font-face {
  font-family: 'Harmonia-Sans';
  src: url(./fonts/HarmoniaSansProCyr-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Harmonia-Sans';
  src: url(./fonts/HarmoniaSansProCyr-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Harmonia-Sans';
  src: url(./fonts/HarmoniaSansProCyr-Light.ttf) format('truetype');
  font-weight: light;
}

body {
  margin: 0;
  font-family: 'Harmonia-Sans', sans-serif;
  background: linear-gradient(170deg,rgba(242, 153, 74, 0.2) 0 50%, #fff 50% 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
